<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToShippingAddress()">
        <ion-icon slot="icon-only" src='assets/custom-icon-tc-shop/back.svg'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ecom-title"> {{'Billing Address'| translate }} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <form>
    <ion-item>
      <ion-label position="floating">{{' Name'|translate}}</ion-label>
      <ion-input type="text" name="shipping_name" [(ngModel)]="shipping.first_name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'Address'|translate}} 1</ion-label>
      <ion-input type="text" name="address" [(ngModel)]="shipping.address_1" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'Address'|translate}} 2</ion-label>
      <ion-input type="text" name="address2" [(ngModel)]="shipping.address_2" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'Country'|translate}}</ion-label>
      <ion-input type="text" name="shipping_country" tappable (click)="selectCountryPage('shippingUpdate')" readonly [(ngModel)]="shippingCountryName"
        required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'State'|translate}}</ion-label>
      <ion-input type="text" required name="shipping_zone" tappable (click)="selectZonePage('shippingUpdate')" readonly [(ngModel)]="shippingStateName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'City'|translate}}</ion-label>
      <ion-input type="text" name="shipping_city" [(ngModel)]="shipping.city" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'Post code'|translate}}</ion-label>
      <ion-input type="text" name="shipping_postcode" [(ngModel)]="shipping.postcode" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'Email'|translate}}</ion-label>
      <ion-input type="email" name="shipping_email" [(ngModel)]="shipping.email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'Phone'|translate}}</ion-label>
      <ion-input type="number" name="shipping_phone" [(ngModel)]="shipping.phone" required></ion-input>
    </ion-item>
    <ion-item lines="none" class="toggle-item">
      <ion-toggle style='--background-checked:var(--my-var)' slot="start"></ion-toggle>
      <ion-label class="label-para">
        <p>Same As Shpping Address</p>
      </ion-label>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-button (click)="goToShippingMethod()" expand="full">
    {{'Next'|translate}}
  </ion-button>
</ion-footer>