<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <ion-title class="ecom-title"> {{'Thankyou'| translate }} </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToSearchPage()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goToCartPage()">
        <ion-icon class="cart-badge" name="cart"></ion-icon>
        <ion-badge>{{shared.cartquantity}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card>
    <ion-card-content>
      <ion-icon name="checkmark-circle"></ion-icon>
      <h3>{{'Thank You'| translate }}</h3>
      <p>{{'Thank you for shopping with us.'| translate }}</p>
      <ion-button class="order-btn" expand="block" (click)="goToOrderPage()">{{'My Orders'| translate }}</ion-button>
      <ion-button class="con-btn" (click)="goToProductPage()" expand="block" fill="clear">{{'Continue Shopping'| translate }}</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>