<ion-header class="order-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToShippingMethod()">
        <ion-icon class="back-icon" slot="icon-only" src="assets/custom-icon-tc-shop/back.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ecom-title">
      {{'Shipping Method'| translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="order-content">
  <ion-card>
    <ion-card-header>
      <h4>{{'Shipping Address'|translate}}</h4>
    </ion-card-header>
    <ion-card-content class="card-content-single">
      <p class="para-single-line">
        123,Abc, New York, USA
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h4>{{'Billing Address'|translate}}</h4>
    </ion-card-header>
    <ion-card-content class="card-content-single">
      <p class="para-single-line">
        123,Abc, New York, USA
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h4>{{'Shipping Method'|translate}}</h4>
    </ion-card-header>
    <ion-card-content class="card-content-single">
      <p class="para-single-line">
        Free shipping
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="order-product">
    <ion-card-header>
      <h4>{{'Products'|translate}}</h4>
    </ion-card-header>
    <ion-card-content *ngFor="let product of product">
      <ion-row class="row-product">
        <ion-col class="product-name">
          <h3>{{product.name}}
          </h3>
        </ion-col>
      </ion-row>
      <ion-item lines="none" class="product-item">
        <ion-thumbnail slot="start">
          <img src="{{product.img}}" />
        </ion-thumbnail>
        <ion-label class="label-product">
          <ion-row>
            <ion-col text-left size="6">
              <p>{{'Price' |translate}}:</p>
            </ion-col>
            <ion-col text-right size="6" class="right-col">
              <p>${{product.price}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-left size="6">
              <p>{{'Quantity'|translate}}:</p>
            </ion-col>
            <ion-col text-right size="6" class="right-col">
              <p>{{product.quantity}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-left size="6">
              <p>{{'Sub Total'|translate}}:</p>
            </ion-col>
            <ion-col text-right size="6" class="right-col">
              <p>${{product.subtotal}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-left size="6">
              <strong>{{'Total' |translate}}:</strong>
            </ion-col>
            <ion-col text-right size="6" class="right-col">
              <strong>${{product.total}}</strong>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h4>{{'Sub Total'|translate}}</h4>
    </ion-card-header>
    <ion-card-content>
      <ion-row class="row-subtotal">
        <ion-col size="6">
          <p>
            {{'Products Price'|translate}}:
          </p>
        </ion-col>
        <ion-col text-right size="6" class="subtotal-right">
          <p>
            $95.00
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <p>
            {{'Shipping Cost'|translate}}:
          </p>
        </ion-col>
        <ion-col text-right size="6" class="subtotal-right">
          <p>
            $0.00
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <p>
            {{'Tax'|translate}}
          </p>
        </ion-col>
        <ion-col text-right size="6" class="subtotal-right">
          <p>
            $0.00
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <p>
            {{'Discount'|translate}}
          </p>
        </ion-col>
        <ion-col text-right size="6" class="subtotal-right">
          <p>
            $0.00
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <strong>
            {{'Total'|translate}}
          </strong>
        </ion-col>
        <ion-col text-right size="6" class="subtotal-right">
          <strong>$95.00</strong>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h4>{{'Order Notes'|translate}}</h4>
    </ion-card-header>
    <ion-card-content class="card-disable">
      <p class="note-para">
        Note to the buyer
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h4>{{'Payment Method'|translate}}</h4>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-label>{{'Select Payment Method'|translate}}</ion-label>
          <ion-select>
            okText="{{'Ok'|translate}}" cancelText="{{'Cancel'|translate}}">
            <span *ngFor="let p of paymentMethods">
              <ion-select-option [value]="p">{{p}}</ion-select-option>
            </span>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer class="order-footer">
  <ion-button (click)="goToThankYouPage()">
    Continue
  </ion-button>
</ion-footer>