<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <ion-title class="ecom-title"> {{'Reward Point'| translate }} </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="refreshPage()">
        <ion-icon class="cart-badge" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-grid class="grid" no-padding>
    <ion-row no-padding>
      <ion-col size="12" no-padding>
        <ion-icon name="happy"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row no-padding>
      <ion-col size="12" no-padding>
        <h4>{{'Your Rewards List is Empty'|translate}}</h4>
      </ion-col>
    </ion-row>

    <ion-row no-padding>
      <ion-col size="12" no-padding>
        <p class="shop-para">{{'Continue Shopping'|translate}}</p>
      </ion-col>
    </ion-row>

    <ion-row no-padding>
      <ion-col size="12" no-padding>
        <ion-button (click)="openProductsPage()">Explore</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-card *ngFor="let r of rewards">
      <ion-card-content>
        <ion-row>
          <ion-col size="6">
            <p>
            {{'Action'|translate}}
          </p>
          </ion-col>
          <ion-col text-right size="6">
              <p>
            {{r.type}}
              </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
              <p>
            {{'Points'|translate}}
            </p>
          </ion-col>
          <ion-col text-right size="6">
              <p>
            {{r.points}}
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
              <p>
            {{'Date'|translate}}
            </p>
          </ion-col>
          <ion-col text-right size="6">
            <p>
            {{r.date}}
            </p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
  <ion-grid class="grid-two">
    <ion-card *ngFor="let r of rewardsTwo">
      <ion-card-content>
        <ion-row>
          <ion-col size="6">
            <p>
            {{'Action'|translate}}
          </p>
          </ion-col>
          <ion-col text-right size="6">
              <p>
            {{r.type}}
              </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
              <p>
            {{'Points'|translate}}
            </p>
          </ion-col>
          <ion-col text-right size="6">
              <p>
            {{r.points}}
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
              <p>
            {{'Date'|translate}}
            </p>
          </ion-col>
          <ion-col text-right size="6">
            <p>
            {{r.date}}
            </p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="8">
      <h5> {{'Total Points Earned'|translate}}:</h5>
    </ion-col>
    <ion-col text-right siz="4">
      <h5>16</h5>
    </ion-col>
  </ion-row>
</ion-footer>