<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToproductDetail()">
        <ion-icon slot="icon-only" src='assets/custom-icon-tc-shop/back.svg'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ecom-title">{{'Write a review'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="content">
  <h4>{{'Comment about this product'|translate}}</h4>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col size="3.6" no-padding>
        <h5>{{'Your Rating:'|translate}}</h5>
      </ion-col>
      <ion-col size="1" *ngFor="let s of ratingStars" align-self-end>
        <ion-icon [name]="s.fill"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form>
    <ion-item>
      <ion-input type="text" placeholder="{{'Name'|translate}}" name="name" [(ngModel)]="formData.name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="{{'Email'|translate}}" name="email" [(ngModel)]="formData.email" required></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-textarea rows="17" placeholder="{{'Enter a description'|translate}}" name="desc" [(ngModel)]="formData.description"
        required></ion-textarea>
    </ion-item>
  </form>
  <ion-button expand="full">
    {{ 'Post Comment' | translate }}
  </ion-button>

</ion-content>