ion-header{
    ion-toolbar{
        // --background:black;
        --color:white;
        ion-icon{
            font-size: 22px;
        }
        ion-title{
            ion-img{
                height: 25px;
            }
        }
        ion-buttons{
            ion-icon{
                font-size: 22px;
            }
            ion-badge{
                position: absolute;
                right: 3px;
                bottom: 14px;
            }
        }
    }
}
ion-content{
    ion-list{
        background: #fafafa;
        padding-top: 0;
    ion-card{
        height: 235px;
        ion-img{
            filter: brightness(0.6);
        }
        ion-text{
            position: absolute;
            top: 32%;
            text-align: center;
            width: 100%;
            color: white;
            font-weight: bold;
            height: 250px;
            h2{
                margin-top: 14px;
                margin-bottom: 5px;
                font-size: 32px;
                font-family: 'roboto-medium' !important;
            }
            p{
                font-size: 20px;
                margin-top: 0;
                font-family: 'roboto-light' !important;
                font-weight: 400 !important;
            }
        }
    }
}
}