<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title no-padding>{{'Scratch Card'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div id="js--sc--container"></div>
</ion-content>