ion-header{
    ion-toolbar{
        // --background: black;
        --color: white;
        ion-icon{
            color: white;
        }
        ion-menu-toggle{
            width: 100%;
        }
    }
}
ion-content{
    ion-range{
        --bar-background: lightgray;
        padding-left: 0;
        padding-right: 0;
    }
    ion-checkbox{
        --background: #fafafa;
            --checkmark-color: white !important;
        // --background-checked: #a4a4a4;
        // --border-color-checked: #707070;
    }
    ion-list{
        ion-item{
            --inner-padding-end: 0;
            ion-menu-toggle{
                width: 100%;
            }
            &:first-child{
                --inner-padding-end: 0;
                --padding-start: 0;
                height: 100px;
                    ion-img{
                        position: fixed;
                        opacity: 0.1;
                    }
                    div{
                        background: var(--ion-color-primary);
                        width: 100%;
                        height: 100px;
                    }
                    ion-item{
                        position: absolute;
                        --background: transparent;
                        --color: white;
                        ion-label{
                            h2{
                                font-weight: bold;
                            }
                            p{
                                color: white;
                                white-space: normal;
                            }
                        }
                    }
                }
                    ion-grid{
                        ion-row{
                            border-bottom: solid lightgray;
                            border-width: 0.4px;
                            height: 47px;
                                ion-icon{
                                    zoom: 1.2;
                                    color: var(--ion-color-primary);

                                }
                                ion-col{
                                    p{
                                        margin-top: 6px !important;
                                        margin-bottom: 6px !important;
                                    }
                                    &:first-child{
                                        text-align: right;
                                    }   
                                }
                        }   
                }    
            }
        }
    }
.item-inner-list{
    height: 52px !important;
    margin-left: -3px !important;
    --inner-padding-end: 0 !important;
    --padding-start: 0 !important;
    ion-row{
        padding-left: 0 !important;
    }
    &:last-child{
        border-bottom: none ;
    }
}
.col-text{
    padding-left: 16px !important;
}
.usd-icon{
    font-size: 20px !important;
}
.price-heading{
    margin-top: 10px !important;
    font-size: 20px !important;
    padding-left: 10px !important;
}

