<ion-app>
  <ion-split-pane>
    <ion-menu side="start" menu-id="Menu1">
      <ion-header>
        <ion-menu-toggle auto-hide="false" no-padding>
          <ion-toolbar>
            <ion-title>Menu</ion-title>
            <ion-buttons slot="end">
              <ion-button fill="clear" (click)="goToCurrencyListPage()">
                <ion-icon slot="icon-only" class="usd-icon" name="logo-usd"></ion-icon>
              </ion-button>
              <ion-button fill="clear" (click)="goToLanguage()">
                <ion-icon name="globe"></ion-icon>
              </ion-button>
              <ion-button fill="clear" (click)="goToColorPage()">
                <ion-icon src="assets/custom-icon-tc-shop/color-brush.svg"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-menu-toggle>
      </ion-header>
      <ion-content>
        <ion-list no-padding>
          <ion-menu-toggle auto-hide="false" no-padding>
            <ion-item lines="full">
              <ion-img src="assets/icons_stripe.svg"></ion-img>
              <div class="login-item"></div>
              <ion-item lines="none" (click)="goToLogin()">
                <ion-avatar>
                  <img src="assets/avatar.png" />
                </ion-avatar>
                <ion-label padding>
                  <h2>{{ 'Login & Register' | translate }}</h2>
                  <p>{{ 'Please login or create an account for free' | translate }}</p>
                </ion-label>
              </ion-item>
            </ion-item>
          </ion-menu-toggle>
          <!-- for home -->
          <ion-item lines="none" (click)="expandItemHome(item)" *ngFor="let item of itemsHome" no-padding>
            <ion-grid no-padding>
              <ion-row no-padding>
                <ion-col align-self-center size="2">
                  <ion-icon name="home"></ion-icon>
                </ion-col>
                <ion-col class="col-text" align-self-center size="8">
                  <p>
                    {{'Home' | translate}}
                  </p>
                </ion-col>
                <ion-col align-self-center size="2">
                  <ion-icon name="add" *ngIf="!visibleHome"></ion-icon>
                  <ion-icon name="remove" *ngIf="visibleHome"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-menu-toggle auto-hide="false" no-padding>
                <app-menu-component expandHeight="700px" [expanded]="item.expanded" no-padding>
                  <ion-item class="item-inner-list" lines="full" *ngFor="let list of home;let i = index" (click)="goToHome(i)">
                    <ion-grid>
                      <ion-row>
                        <ion-col align-self-center size="2">
                          <ion-icon name="remove"></ion-icon>
                        </ion-col>
                        <ion-col class="col-text" align-self-center size="10">
                          <p>{{list.name}}</p>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </app-menu-component>
              </ion-menu-toggle>
            </ion-grid>
          </ion-item>
          <!-- for category -->
          <ion-item lines="none" (click)="expandItemCategory(item)" *ngFor="let item of itemsCategory" no-padding>
            <ion-grid no-padding>
              <ion-row no-padding>
                <ion-col align-self-center size="2">
                  <ion-icon name="apps"></ion-icon>
                </ion-col>
                <ion-col class="col-text" align-self-center size="8">
                  <p>
                    {{'Category' | translate}}
                  </p>
                </ion-col>
                <ion-col align-self-center size="2">
                  <ion-icon name="add" *ngIf="!visibleCategory"></ion-icon>
                  <ion-icon name="remove" *ngIf="visibleCategory"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-menu-toggle auto-hide="false" no-padding>
                <app-menu-component expandHeight="700px" [expanded]="item.expanded" no-padding>
                  <ion-item class="item-inner-list" lines="full" *ngFor="let list of category;let i = index" (click)="goToCategory(i)">
                    <ion-grid>
                      <ion-row>
                        <ion-col align-self-center size="2">
                          <ion-icon name="remove"></ion-icon>
                        </ion-col>
                        <ion-col class="col-text" align-self-center size="10">
                          <p>{{list.name}}</p>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </app-menu-component>
              </ion-menu-toggle>
            </ion-grid>
          </ion-item>
          <!--  for shop -->
          <ion-item lines="none" (click)="expandItemShop(item)" *ngFor="let item of itemsShop" no-padding>
            <ion-grid no-padding>
              <ion-row no-padding>
                <ion-col align-self-center size="2">
                  <ion-icon name="cash"></ion-icon>
                </ion-col>
                <ion-col class="col-text" align-self-center size="8">
                  <p>
                    {{'Shop' | translate}}
                  </p>
                </ion-col>
                <ion-col align-self-center size="2">
                  <ion-icon name="add" *ngIf="!visibleShop"></ion-icon>
                  <ion-icon name="remove" *ngIf="visibleShop"></ion-icon>

                </ion-col>
              </ion-row>
              <ion-menu-toggle auto-hide="false" no-padding>
                <app-menu-component expandHeight="700px" [expanded]="item.expanded" no-padding>
                  <ion-item class="item-inner-list" lines="full" *ngFor="let list of shop;let i = index" (click)="goToshop(i)">
                    <ion-grid>
                      <ion-row>
                        <ion-col align-self-center size="2">
                          <ion-icon name="remove"></ion-icon>
                        </ion-col>
                        <ion-col class="col-text" align-self-center size="10">
                          <p>{{list.name}}</p>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </app-menu-component>
              </ion-menu-toggle>
            </ion-grid>
          </ion-item>

          <ion-item routerDirection="'forward'" [routerLink]="item.url" lines="full" *ngFor="let item of appPages"
            no-padding>
            <ion-menu-toggle auto-hide="false" no-padding>
              <ion-grid no-padding>
                <ion-row no-padding>
                  <ion-col align-self-center size="2">
                    <ion-icon name="{{item.icon}}"></ion-icon>
                  </ion-col>
                  <ion-col class="col-text" align-self-center size="8">
                    <p>
                      {{item.name}}
                    </p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-menu-toggle>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!--  For Shop Filter Side Menu  -->
    <ion-menu menu-id="Menu2" side="end">
      <ion-header>
        <ion-menu-toggle auto-hide="false" no-padding>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button fill="clear">
                <ion-icon slot="icon-only" class="usd-icon" name="close"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>Filter</ion-title>
          </ion-toolbar>
        </ion-menu-toggle>
      </ion-header>
      <ion-content>
        <h2 class="price-heading">By Price</h2>
        <ion-item>
          <ion-range id="dual-range" min="0" max="200" [(ngModel)]="structure" dual-knobs pin>
          </ion-range>
        </ion-item>
        <h2 class="price-heading">By Sale/Featured</h2>
        <ion-item>
          <ion-checkbox slot="start"></ion-checkbox>
          <p>Sale</p>
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox slot="start"></ion-checkbox>
          <p>Featured</p>
        </ion-item>
        <h2 class="price-heading">By Color</h2>
        <ion-item>
          <ion-checkbox slot="start"></ion-checkbox>
          <p>Red</p>
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox slot="start"></ion-checkbox>
          <p>Black</p>
        </ion-item>
        <h2 class="price-heading">By Size</h2>
        <ion-item>
          <ion-checkbox slot="start"></ion-checkbox>
          <p>Small</p>
        </ion-item>
        <ion-item>
          <ion-checkbox slot="start"></ion-checkbox>
          <p>Medium</p>
        </ion-item>
        <ion-item>
          <ion-checkbox slot="start"></ion-checkbox>
          <p>Large</p>
        </ion-item>
        <ion-item lines="none">
          <ion-checkbox slot="start"></ion-checkbox>
          <p>Extra large</p>
        </ion-item>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>