<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <ion-title>
        Home </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToSearchPage()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goToCartPage()">
        <ion-icon class="cart-badge" name="cart"></ion-icon>
        <ion-badge>0</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <app-banner></app-banner>
  <!-- Newest Products Heading -->
  <ion-row>
    <ion-col size="0.5" align-self-center>
      <ion-icon src="assets/custom-icon-tc-shop/tabs.svg"></ion-icon>
    </ion-col>
    <ion-col size="11" align-self-end>
      <h5>
        {{'Newest Products'|translate}}
      </h5>
    </ion-col>
  </ion-row>

  <!-- Newest Products swipe slider -->
  <ion-slides class="animated bounceInRight delay-900ms" [options]="sliderConfig" dir="{{shared.dir}}">
    <ion-slide *ngFor="let p of newestItems">
      <app-product [data]="p" [type]="'normal'"></app-product>
    </ion-slide>
    <ion-slide>
      <ion-button fill="clear" routerLink="/products" routerDirection="forward"> {{'Shop More'| translate}}
        <ion-icon name="arrow-dropright"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>
  <!-- On Sale Products Heading -->
  <ion-row>
    <ion-col size="0.5" align-self-center>
      <ion-icon src="assets/custom-icon-tc-shop/dollar-ribbon.svg"></ion-icon>
    </ion-col>
    <ion-col size="11" align-self-end>
      <h5>
        {{'On Sale Products'|translate}}
      </h5>
    </ion-col>
  </ion-row>

  <!-- On Sale Products swipe slider -->
  <ion-slides class="animated bounceInRight delay-900ms" [options]="sliderConfig" dir="{{shared.dir}}">
    <ion-slide *ngFor="let p of saleItems">
      <app-product [data]="p" [type]="'normal'"></app-product>
    </ion-slide>
    <ion-slide>
      <ion-button fill="clear" routerLink="/products" routerDirection="forward"> {{'Shop More'| translate}}
        <ion-icon name="arrow-dropright"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>
  <!-- Featured Products Heading -->
  <ion-row>
    <ion-col size="0.5" align-self-center>
      <ion-icon src="assets/custom-icon-tc-shop/favorites.svg"></ion-icon>
    </ion-col>
    <ion-col size="11" align-self-end>
      <h5>
        {{'Featured Products'|translate}}
      </h5>
    </ion-col>
  </ion-row>

  <!-- Featured Products slider -->
  <ion-slides class="animated bounceInRight delay-900ms" [options]="sliderConfig" dir="{{shared.dir}}">
    <ion-slide *ngFor="let p of featuredItems">
      <app-product [data]="p" [type]="'normal'"></app-product>
    </ion-slide>
    <ion-slide>
      <ion-button fill="clear" routerLink="/products" routerDirection="forward"> {{'Shop More'| translate}}
        <ion-icon name="arrow-dropright"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>

  <!-- For Vendor List -->
  <app-vendor-list></app-vendor-list>
  <!-- Recently Viewed Heading -->
  <ion-row>
    <ion-col size="0.5" align-self-center>
      <ion-icon src="assets/custom-icon-tc-shop/list.svg"></ion-icon>
    </ion-col>
    <ion-col size="11" align-self-end>
      <h5>
        {{'Recently Viewed'|translate}}
      </h5>
    </ion-col>
  </ion-row>

  <!-- Recently Viewed swipe slider -->
  <ion-slides class="animated bounceInRight delay-900ms" [options]="sliderConfig" dir="{{shared.dir}}">
    <ion-slide *ngFor="let p of recentViewedProducts">
      <app-product [data]="p" [type]="'recent'"></app-product>
    </ion-slide>
  </ion-slides>
</ion-content>