<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title no-padding class="ecom-title">{{'Create an Account'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" padding>

  <ion-avatar>
    <ion-img src="assets/avatar.png"></ion-img>
  </ion-avatar>

  <form>

    <ion-item>
      <ion-label position="floating">{{'First Name'|translate}}</ion-label>
      <ion-input type="text" name="customers_firstname" [(ngModel)]="formData.first_name" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'Last Name'|translate}}</ion-label>
      <ion-input type="text" name="customers_lastname" [(ngModel)]="formData.last_name" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'Username'|translate}}</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="formData.username" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'Email'|translate}}</ion-label>
      <ion-input type="email" email name="email" [(ngModel)]="formData.email" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'Password'|translate}}</ion-label>
      <ion-input type="password" name="c_d" [(ngModel)]="formData.password" required>
      </ion-input>
    </ion-item>

    <p>{{"Creating an account means you’re okay with our"|translate}}
      <a (click)="openTermServicesPage()">{{'Term and Services'|translate}}</a>,
      <a (click)="openPrivacyPolicyPage()">{{'Privacy Policy'|translate}}</a> {{'and'|translate}}
      <a (click)="openRefundPolicyPage()">{{'Refund Policy'|translate}}</a>
    </p>
    <ion-button expand="full" type="submit">{{ 'Register' | translate }}
    </ion-button>
  </form>

  <!-- <ion-row>
    <ion-col size="12">
      <div class="getImage">
        <div class="image">
          <img class="avatar" src="assets/images/avatar.png" *ngIf="image==null">
          <img class="avatar" src="{{image}}" *ngIf="image!=null">
        </div>
        <ion-avatar class="uploadImg">
          <ion-icon name="camera" (click)="openCamera()" class="camera"></ion-icon>
        </ion-avatar>
      </div>
    </ion-col>
  </ion-row>
  <form (ngSubmit)="login()">
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item>
            <ion-input type="text" placeholder="First Name" name="userFirstname" required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Last Name" name="userLastName" required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="email" placeholder="Email" name="userEmail" required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Password" name="userPassword" required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Mobile" name="userMobile" required>
            </ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Creating an account means you’re okay with our
          <a (click)="goToTermServicesPage()">Term and Services</a>,
          <a (click)="goToPrivacyPolicyPage()">Privacy Policy</a> and
          <a (click)="goToRefundPolicyPage()">Refund Policy</a>
        </p>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" class="loginBtn" type="submit">Register</ion-button>
      </ion-col>
    </ion-row>
  </form> -->
</ion-content>