<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/categories" routerDirection="backward">
        <ion-icon slot="icon-only" src='assets/custom-icon-tc-shop/back.svg'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{'Sub Category'|translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToSearchPage()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goToCartPage()">
        <ion-icon class="cart-badge" name="cart"></ion-icon>
        <ion-badge>1</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col *ngFor="let product of items" size="6" no-padding>
        <ion-card class="animated flipInX delay-900ms">
          <ion-avatar>
            <img src="{{product.img}}" />
          </ion-avatar>
          <ion-text>
            <h6>{{product.name|translate}}</h6>
            <p>{{product.count}} {{'Products'| translate }}</p>
          </ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button routerLink="/products" routerDirection="forward" fill="clear" color="dark"> View all
    <ion-icon name="arrow-dropright"></ion-icon>
  </ion-button>
</ion-content>