<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <ion-title class="ecom-title">
      {{'Category'|translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button ton fill="clear" (click)="goToSearchPage()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goToCartPage()">
        <ion-icon class="cart-badge" name="cart"></ion-icon>
        <ion-badge>0</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-item lines="full" *ngFor="let product of categories" routerLink="/products" routerDirection="forward">
    <ion-thumbnail slot="start" class="animated flipInX delay-900ms">
      <img src="{{product.img}}" />
    </ion-thumbnail>
    <ion-label padding>
      <ion-text>
        <h2>{{product.name|translate}}</h2>
        <p>{{product.count}} {{'Products'| translate }}</p>
      </ion-text>
    </ion-label>
  </ion-item>
</ion-content>