<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <ion-title>
        Home </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToSearchPage()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goToCartPage()">
        <ion-icon class="cart-badge" name="cart"></ion-icon>
        <ion-badge>0</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <!-- categories swipe slider -->
  <ion-item lines="none">
    <ion-icon slot="start" src="assets/custom-icon-tc-shop/category.svg"></ion-icon>
    <ion-label class="label-cat">
      <p>{{'Categories' | translate }}</p>
    </ion-label>
    <ion-button routerLink="/products" routerDirection="forward" slot="end" fill="clear"  class="icon-shop-more"> Shop More
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-button>
  </ion-item>
  <!-- categories component -->
  <app-categories [type]="'withName'"></app-categories>

  <!-- For Banner -->
  <app-banner></app-banner>

  <!-- For Vendor List -->
  <app-vendor-list></app-vendor-list>

  <!-- For Newest Products -->
  <!-- Newest Products Heading-->
  <ion-item lines="none">
    <ion-icon slot="start" src="assets/custom-icon-tc-shop/tabs.svg"></ion-icon>
    <ion-label>
      <p>{{'Newest Products' | translate }}</p>
    </ion-label>
    <ion-button routerLink="/products" routerDirection="forward" slot="end" fill="clear" class="icon-shop-more">Shop More
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- Newest Products swipe slider -->
  <ion-slides class="animated bounceInRight delay-900ms" [options]="sliderConfig" dir="{{shared.dir}}">
    <ion-slide *ngFor="let p of newestItems">
      <app-product [data]="p" [type]="'normal'"></app-product>
    </ion-slide>
    <ion-slide>
      <ion-button routerLink="/products" routerDirection="forward" fill="clear"  class="icon-shop-more"> {{'Shop More'| translate}}
        <ion-icon name="arrow-dropright"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>

  <!-- For Segments Products -->
  <ion-segment [(ngModel)]="segments">
    <ion-segment-button value="sale">{{ 'On Sale' | translate }} </ion-segment-button>
    <ion-segment-button value="mostLiked"> {{ 'Featured' | translate }}</ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segments">
    <ion-grid no-padding *ngSwitchCase="'sale'">
      <ion-row class="row-segment" no-padding>
        <ion-col *ngFor="let p of tab1" size="6" no-padding>
          <app-product [data]="p" [type]="'normal'"></app-product>
        </ion-col>
      </ion-row>

      <ion-row text-center>
        <ion-col>
          <ion-button routerLink="/products" routerDirection="forward" fill="clear"  (click)="openProducts('sale')" class="icon-shop-more">{{
            'Shop More' | translate
            }}
            <ion-icon name="md-arrow-dropright"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid no-padding *ngSwitchCase="'mostLiked'">
      <ion-row class="row-segment" no-padding>
        <ion-col *ngFor="let p of tab1" size="6" no-padding>
          <app-product [data]="p" [type]="'normal'"></app-product>
        </ion-col>
      </ion-row>

      <ion-row text-center>
        <ion-col>
          <ion-button class="shop-btn" routerLink="/products" routerDirection="forward" fill="clear"  (click)="openProducts('sale')">{{
            'Shop More' | translate}}
            <ion-icon name="md-arrow-dropright"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>