/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');
:root,
:root[mode="md"],
:root[mode='ios']{
  --ion-font-family: 'Roboto', 'noto-sans';
  font-family: var(--ion-font-family) !important;
}
ion-header{
  ion-badge{
    background: red;
    color: white;
    font-size: 10px;
    height: 16px;
    right: 6px !important;
  }
}
ion-content{
    --background:#FAFAFA;
    ion-item{
      --background:#FAFAFA;
    }
}
.action-sheet{
  --color: black !important;
    .as-cancel-color{
    --color: red !important;
    }
  }
  .cart-badge{
  font-size: 22px !important;
  }
  .ecom-title{
    padding-left: 0;
  }
  .theme-icon{
    color: var(--ion-color-primary);
  }