<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <ion-title class="ecom-title">
      {{'Search'| translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToCartPage()">
        <ion-icon class="cart-badge" name="cart"></ion-icon>
        <ion-badge>0</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <form #loginForm="ngForm" >
    <ion-searchbar  name="search" placeholder="Search">
    </ion-searchbar>
  </form>
  <ion-list>
    <ion-item *ngFor="let product of categories" routerLink="/product-detail" routerDirection="forward">
      <ion-avatar slot="start" class="animated flipInX delay-900ms">
        <img src="{{product.img}}" />
      </ion-avatar>
      <ion-label padding>
        <ion-text>
          <h2>{{product.name|translate}}</h2>
          <p>{{product.count}} {{'Products'| translate }}</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>