<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <ion-title class="ecom-title"> {{'Scratch Card'| translate }} </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="refreshPage()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-grid class="grid" no-padding>
    <ion-row no-padding>
      <ion-col size="12" no-padding>
        <ion-icon name="notifications"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row no-padding>
      <ion-col size="12" no-padding>
        <h4>{{'Your Scratch Card Coupon is Empty'|translate}}</h4>
      </ion-col>
    </ion-row>

    <ion-row no-padding>
      <ion-col size="12" no-padding>
        <p class="shop-para">{{'Continue Shopping'|translate}}</p>
      </ion-col>
    </ion-row>

    <ion-row no-padding>
      <ion-col size="12" no-padding>
        <ion-button (click)="openProductsPage()">{{'Explore'|translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-card *ngFor="let order of orders" (click)="goToOrderDetail()">
      <ion-card-content>
        <ion-row>
          <ion-col size="6">
            {{'Order ID'|translate}}
          </ion-col>
          <ion-col text-right col-6>
            {{'#'+order.number}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            {{'Date'|translate}}
          </ion-col>
          <ion-col text-right size="6">
            {{order.date_created}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            {{'Price'|translate}}
          </ion-col>
          <ion-col text-right size="6">
            {{order.total}}
          </ion-col>
        </ion-row>
        <ion-row class="status-row" >
          <ion-col size="6">
            {{'Status'|translate}}
          </ion-col>
          <ion-col text-right size="6">
            <strong>{{order.status|translate}}</strong>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>

  <ion-infinite-scroll #infinite>
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>