<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title no-padding class="ecom-title">{{'Currency List'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-list>
    <ion-radio-group>
      <ion-item *ngFor="let v of languageList">
        <ion-img src="{{v.image}}" slot="start"></ion-img>
        <ion-label>{{v.name}}</ion-label>
        <ion-radio [value]="v"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>