<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBillingAddress()">
          <ion-icon slot="icon-only" src="assets/custom-icon-tc-shop/back.svg"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title class="ecom-title">{{'Shipping Method'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

  <ion-list padding>
    <ion-radio-group>
      <ion-item lines="full" *ngFor="let m of shippingMethod">
        <ion-label>{{m.title}}
        </ion-label>
        <ion-radio [value]=[m] (ionSelect)="setMethod(m)"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button disabled="false" expand="block" (click)="proceedOrder()">Next</ion-button>
</ion-footer>