ion-header{
    ion-toolbar{
        // --background:black;
        --color:white;
        ion-icon{
            font-size: 22px;
        }
        ion-title{
            ion-img{
                height: 25px;
            }
        }
        ion-buttons{
            ion-icon{
                font-size: 22px;
            }
            ion-badge{
                position: absolute;
                right: 3px;
                bottom: 14px;
            }
        }
    }
}
    ion-content{
    ion-row{
    img{
    position: absolute !important;
    opacity: 0.3% !important;
    top: -100px;
    margin-top: 10px;
    }
    div{
    // background: #707070;
    width: 100%;
    height: 100px;
    height: 200px;
    }
    }
    ion-grid{
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
    ion-row{
    ion-col{
    text-align: center;
    ion-avatar{
    margin-left: auto;
    margin-right: auto;
    }
    h2{
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'roboto-regular';
    }
    p{
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 14px;
    font-family: 'roboto-regular';
    }
    ion-button{
    height: 25px;
    // --background: lightgray;
    --color: white;
    --border-radius: 0px;
    }
    }
    }
    
    }
    ion-list{
        background: #fafafa;
    ion-item{
    --background: white !important;
    padding-bottom: 0;
    font-size: 14px;
    font-family: 'roboto-regular';
    ion-toggle{
    padding-right: 0;
     --background-checked:  var(--ion-color-primary) !important;
     --handle-background-checked:  var(--ion-color-primary) !important;
    }
    ion-icon{
    // color: black;
    }
    p{
    font-size: 14px !important;
    color: black;
    font-family: 'roboto-regular';
    }
    }
    &:last-child{
    padding-top: 0;
    }
    }
    ion-item{
    ion-button{
    width: 100%;
    margin: 0;
    height: 30px;
    // --background: black; 
    }
    }
    }
    .avatar-icon{
    zoom: 6 !important;
    color: lightgray;
    margin-left: -1.6px;
    }
    .row-img{
    opacity: 0.1 !important;
    }
    .login-col{
        margin-top: 15px;
    }
    .div-img{
        background: var(--ion-color-primary);
    }