<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <ion-title class="ecom-title">
      {{'Settings'| translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goToSearchPage()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goToCartPage()">
        <ion-icon class="cart-badge" name="cart"></ion-icon>
        <ion-badge>0</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content" >
    <ion-row class="row-img">
        <img src="assets/icons_stripe.svg" />
    </ion-row>
    <ion-row>
      <div class="div-img"></div>
    </ion-row>
        <ion-grid padding>
          <ion-row size="12">
            <ion-col>
                <ion-avatar>
                    <ion-icon class="avatar-icon" name="contact"></ion-icon>
                </ion-avatar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="login-col">
                <h2>{{ 'Login/Register' | translate }}</h2>
                <p>{{ 'Please login or create an account for free' | translate }}</p>
              </ion-col>
          </ion-row>
        </ion-grid>
  <ion-list padding>
    <ion-item lines="inset"> 
      <ion-label><p>{{"Turn on/off Local Notifications"|translate}}</p></ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item lines="none"> 
      <ion-label><p>{{"Turn on/off Notifications"|translate}}</p></ion-label>
      <ion-toggle ></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list padding>
    <ion-item lines="full" (click)="officiaWebSite()"> 
      <ion-label><p>{{"Official Website"|translate}}</p></ion-label>
      <ion-icon class="theme-icon"  slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item (click)="openPrivacyPolicyPage()" lines="full"> 
      <ion-label><p>{{"Privacy Policy"|translate}}</p></ion-label>
      <ion-icon class="theme-icon"  slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item (click)="openRefundPolicyPage()" lines="full"> 
      <ion-label><p>{{"Refund Policy"|translate}}</p></ion-label>
      <ion-icon class="theme-icon"  slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item (click)="openTermServicesPage()"  lines="full"> 
      <ion-label><p>{{"Terms and Services"|translate}}</p></ion-label>
      <ion-icon class="theme-icon"  slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item  (click)="rateUs()" lines="full" > 
      <ion-label><p>{{"Rate Us"|translate}}</p></ion-label>
      <ion-icon class="theme-icon"  slot="end" name="star-half"></ion-icon>
    </ion-item>
    <ion-item  (click)="share()" lines="full"> 
      <ion-label><p>{{"Share"|translate}}</p></ion-label>
      <ion-icon class="theme-icon"  slot="end" name="share"></ion-icon>
    </ion-item>
  </ion-list>
  
</ion-content>
